<!-- footer of the page -->
<footer id="footer">
    <!-- footer holder of the page -->
    <div class="footer-holder container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col1">
                    <h3 class="text-uppercase">Contact CouponsDeal Store</h3>
                    <ul class="list-unstyled contact-list">
                        <li>
                            <span class="icon icon-location"></span>
                            <address>65 --/, Beside Mgbs Exit Point, Gowliguda,Hyderabad</address>
                        </li>
                        <li>
                            <span class="icon icon-phone"></span>
                            <span class="tel"><a href="tel:112345678520">04024400963</a><a href="tel:04024400963">04024400963</a></span>
                        </li>
                        <li>
                            <span class="icon icon-email"></span>
                            <span class="mail"><a href="mailto:Info@demo.Com">Info@demo.Com</a><a href="mailto:Mail@demo.Com">Mail@demo.Com</a></span>
                        </li>
                    </ul>
                </div>
                <div class="col2">
                    <h3 class="text-uppercase">Quick Links</h3>
                    <ul class="list-unstyled f-nav">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Coupons</a></li>
                        <li><a href="#">Offers</a></li>
                        <li><a href="#">Deals</a></li>
                        <li><a href="#">Latest News</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col3">
                    <h3 class="text-uppercase">Categories</h3>
                    <ul class="list-unstyled tags">
                        <li><a href="#">Restaurant</a></li>
                        <li><a href="#">Health</a></li>
                        <li><a href="#">Fitness</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Beauty</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Watches</a></li>
                    </ul>
                    <h3 class="text-uppercase">Follow us</h3>
                    <ul class="list-unstyled socail-network">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col4">
                    <h3 class="text-uppercase">Recent Tweets</h3>
                    <ul class="list-unstyled recent-tweet">
                        <li>
                            <span class="icon"><i class="fa fa-twitter"></i></span>
                            <div class="txt-holder">
                                <p><a href="#">@Micheal Doe</a> Coupon Deal is great online coupon provider </p>
                                <time datetime="2018-02-03 20:00" class="time">Posted on 28 March</time>
                            </div>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-twitter"></i></span>
                            <div class="txt-holder">
                                <p><a href="#">@Mahajan Sharma</a>Coupon Deal Store is best store in India for providing best deals on different kinds of products </p>
                                <time datetime="2018-02-03 20:00" class="time">Posted on 15 April</time>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer area of the page -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    <p>© 2021 All rights reserved. Created by Aman(Computerwala)</p>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <ul class="list-unstyled footer-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms&amp;Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer of the page end -->