<main id="main">
    <!-- banner of the page -->
    <section class="banner banner3 bg-full overlay" style="background-image: url(http://placehold.it/1920x300);">
        <div class="holder">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h1>About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- abt sec of the page -->
    <section class="abt-sec container pad-top-lg pad-bottom-lg">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="img-holder">
                    <img src="http://placehold.it/555x365" alt="image description" class="img-responsive">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="abt-txt">
                    <strong class="title text-uppercase">Who We are</strong>
                    <h3 class="heading">About Our Company</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
                    <a href="contact.html" class="btn-primary text-center text-uppercase md-round">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- counter sec of the page -->
    <section class="counter-sec bg-full overlay pad-top-sm pad-bottom-xs" style="background-image: url(http://placehold.it/1920x305);">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3 text-center">
                    <span class="icon"><i class="icon-user2"></i></span>
                    <strong class="counter">300</strong>
                    <span class="sub-title">Users Registered</span>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <span class="icon"><i class="icon-scissors"></i></span>
                    <strong class="counter">2900</strong>
                    <span class="sub-title">Coupons Used Last Month</span>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <span class="icon"><i class="icon-add"></i></span>
                    <strong class="counter">150</strong>
                    <span class="sub-title">Coupons Added</span>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <span class="icon"><i class="icon-store"></i></span>
                    <strong class="counter">3500</strong>
                    <span class="sub-title">Stores</span>
                </div>
            </div>
        </div>
    </section>
    <!-- team sec of the page -->
    <section class="team-sec container pad-top-lg pad-bottom-md">
        <div class="row">
            <header class="col-xs-12 text-center header">
                <h4 class="heading">Meet Our Great Team</h4>
            </header>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 mar-bottom-xs">
                <!-- team of the page -->
                <div class="team">
                    <div class="img-holder">
                        <img src="http://placehold.it/260x320" alt="image description" class="img-responsive">
                        <div class="over">
                            <ul class="list-unstyled social-network">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <strong class="heading4">Johnson Doe</strong>
                    <span class="sub-title">CEO &amp; Founder</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mar-bottom-xs">
                <!-- team of the page -->
                <div class="team">
                    <div class="img-holder">
                        <img src="http://placehold.it/260x320" alt="image description" class="img-responsive">
                        <div class="over">
                            <ul class="list-unstyled social-network">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <strong class="heading4">Micheal Doe</strong>
                    <span class="sub-title">Co-Founder</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mar-bottom-xs">
                <!-- team of the page -->
                <div class="team">
                    <div class="img-holder">
                        <img src="http://placehold.it/260x320" alt="image description" class="img-responsive">
                        <div class="over">
                            <ul class="list-unstyled social-network">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <strong class="heading4">Hendry Doe</strong>
                    <span class="sub-title">Marketing</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mar-bottom-xs">
                <!-- team of the page -->
                <div class="team">
                    <div class="img-holder">
                        <img src="http://placehold.it/260x320" alt="image description" class="img-responsive">
                        <div class="over">
                            <ul class="list-unstyled social-network">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <strong class="heading4">David Doe</strong>
                    <span class="sub-title">Support</span>
                </div>
            </div>
        </div>
    </section>
    
    <!-- brand sec of the page -->
    <section class="brand-sec container pad-top-sm pad-bottom-md">
        <div class="row">
            <header class="col-xs-12 header text-center">
                <h2 class="heading">Our Trusted Brands</h2>
            </header>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-unstyled brand-list">
                    <li><a href="#"><img src="../../assets/img/Ajio.png" alt="LOGO" class="img-responsive"></a></li>
                    <li><a href="#"><img src="../../assets/img/myntra.png" alt="LOGO" class="img-responsive"></a></li>
                    <li><a href="#"><img src="../../assets/img/flip.png" alt="LOGO" class="img-responsive"></a></li>
                    <li><a href="#"><img src="../../assets/img/amazon.png" alt="LOGO" class="img-responsive"></a></li>
                    <li><a href="#"><img src="../../assets/img/Tata.png" alt="LOGO" class="img-responsive"></a></li>
                </ul>
            </div>
        </div>
    </section>
</main>
<!-- main of the page end -->