<header>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <span class="navbar-text font-weight-bold text-body mr-auto">
                Welcome to CouponsDeal Store, Save More With Our Deals
            </span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn btn-outline-success mx-1 my-2 my-sm-0">Support</button>
                </li>
                <li class="nav-item mx-1">
                    <!-- Login Logic -->
                    <button class="btn btn-primary my-2 my-sm-0" routerLink="/login" *ngIf="!loginService.isUserLoggedIn()">Login</button>
                    <button class="btn btn-primary ml-1 my-2 my-sm-0" routerLink="" *ngIf="!loginService.isUserLoggedIn()">Register</button>
                </li>
                <li class="nav-item dropdown" *ngIf="loginService.isUserLoggedIn()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user mx-2 my-1"></i>Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a routerLink="/admin/users" class="dropdown-item">Users</a>
                        <a routerLink="/admin/deals" class="dropdown-item">Deals</a>
                        <!-- Logout Logic -->
                        <a routerLink="/logout" class="dropdown-item">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Coupon Store<i class="fa fa-tags mx-2"></i></a>
        <form class="form-inline">
            <select class="form-control">
                <option selected>Select Category</option>
                <option value="1">Food</option>
                <option value="2">Travel</option>
                <option value="3">Shopping</option>
            </select>
            <input class="form-control mr-xs-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success mx-0 my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </nav>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">News/Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about-us">About Us</a>
            </li>
            <li><a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/shop">Deal</a></li>          
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="btn-group">
                    <a class="nav-link text-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-shopping-cart"></i><span class="badge badge-pill badge-info align-top">{{cartDeals.length}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-cart" role="menu">
                        <li *ngFor="let item of cartDeals">
                            <div class="item product-cart-item row">
                                <div class="col-md-8" *ngIf="item">{{item.name}}</div>
                                <div class="col-md-4" *ngIf="item"><strong>${{item.price}}</strong></div>
                            </div>
                        </li>
                        <hr>
                        <li><a class="btn btn-small btn-success" role="button" (click)="goToCart()">View Cart</a></li>
                        <br>
                        <li *ngIf="cartDeals.length > 0">
                            <a class="btn btn-small btn-warning" role="button" (click)="emptyCart()">Empty Cart</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <button class="btn btn-success mx-1 my-2 my-sm-0">Submit Coupon</button>
            </li>
        </ul>
    </nav>

</header>