<div class="container row">
    <div class="col-md-2">
        <h1>Deals</h1>
    </div>
   
    <div class="col-md-10 custom-products-cart-container">
        <div class="offset-md-8">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <br>
                    <a href="#" class="btn btn-info btn-lg" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="fa fa-shopping-cart">
                            Deals Added In Cart:
                        </span>
                        <span class="cart">{{cartDeals.length}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-cart" role="menu">
                        <li *ngFor="let item of cartDeals">
                            <div class="item product-cart-item row">
                                <div class="col-md-8" *ngIf="item">{{item.name}}</div>
                                <div class="col-md-4" *ngIf="item"><strong>Rs{{item.price}}</strong></div>
                            </div>
                        </li>
                        <hr>
                        <li><a class="btn btn-small btn-success" role="button" (click)="goToCart()">View Cart</a></li>
                        <br>
                        <li *ngIf="cartDeals.length > 0">
                            <a class="btn btn-small btn-warning" role="button" (click)="emptyCart()">Empty Cart</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>


<!-- offer sec of the page -->
<section class="offer-sec container pad-top-lg pad-bottom-md">
    <div class="row">
        <header class="col-xs-12 text-center header">
            <h2 class="heading">Today’s Best Offers And Coupons</h2>
            <ul class="list-unstyled filter-list">
                <li class="active"><a href="#" data-filter=".health">Health &amp; Beauty</a></li>
                <li><a href="#" data-filter=".kitchen">Electronics &amp; Kitchen</a></li>
                <li><a href="#" data-filter=".res">Restaurants</a></li>
                <li><a href="#" data-filter=".sport">Sports &amp; Fitness</a></li>
                <li><a href="#" data-filter=".fashion">Fashion &amp; Appareals</a></li>
            </ul>
        </header>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- offer holder of the page -->
            <div class="offer-holder">
                <!-- col of the page -->
                <div class="col mar-bottom-xs health" *ngFor="let deal of deals;let i=index">
                    <div class="header">
                        <div class="c-logo"><img src="{{deal.retrievedImage}}" height="150px" width="150px" alt="logo" class="img-responsive"></div>
                        <span class="offer">Rs{{deal.default}}</span>
                    </div>
                    <strong class="heading6">{{deal.name}}</strong>
                    <span class="sub-title">{{deal.description}}</span>
                    <div class="text-center">
                        <button class="btn-warning text-center text-uppercase md-round px-2 py-1" (click)="addToCart(deal.id)">Add To Cart</button>
                        <time class="time mt-2" datetime="2017-02-03 20:00">Expires On : 29 Oct, 2017</time>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</section>